* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

.changelog-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 0 1rem;
}

.changelog {
  display: flex;
  gap: 2rem;
  justify-content: center;
  /* align-items: flex-start; */
}

.changelog-date {
  color: cadetblue;
  width: 400px;
  text-align: right;
}

.changelog-dot {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}

.changelog-dot::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: calc(100% + 5rem);
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.changelog-information {
  width: 500px;
}

button {
  display: block;
  margin: 3rem auto 0;
  padding: 0.7rem 2rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: black;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgb(27, 27, 27);
}
